#contact{
    line-height: 60px;
    margin-top: 50px;
}
footer {
    line-height: 60px;
    background-color: #bda2a285;
    margin-top: 50px;

  } 
  .card {
    margin: 0 auto;
  }
  .customNav {
    width: 100%;
    background: url(../images/transparency.png);
    background-color: transparent !important;
  }
  .navbar-nav{
    margin-left: auto;
    margin-right: 0 !important;
  }
  .nav-item{
    margin: 0px 15px;
  }
 .nav-item:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.301);
  }
  .customNav a {
    color: white !important;
  }
  .nav{
    font-size: 15px;
  }
  .jumbotron{
    background: rgba(231, 209, 209, 0.63);
  }
